@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
    background-image: url('./freepik__modern-style-detailled-illustration-a-map-featurin__22191.jpeg'); /* 背景画像のURLを指定 */
    background-size: cover;
    height: 100vh; /* ビューポートの高さに合わせる */
    filter: opacity(0.3); /* ここでぼかしの強さを指定 */
}

.content {
    position: absolute;
    top: 0;
}

.logincharacter {
    width: 15rem;
    height: 15rem;
}

.signupcharacter {
    width: 15rem;
    height: 15rem;
}

.logintitle {
    margin-top: 16rem;
}

.signuptitle {
    margin-top: -16rem;
}

.titletext {
    font-size: 9rem;
}