@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: url("../images/freepik__modern-style-detailled-illustration-a-map-featurin__22191.jpeg"); /* 背景画像のURLを指定 */
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}

.content {
  position: absolute;
  top: 0;
}

.logincharacter {
  width: 15rem;
  height: 15rem;
}

.signupcharacter {
  width: 15rem;
  height: 15rem;
}

.logintitle {
  margin-top: 16rem;
}

.signuptitle {
  margin-top: -16rem;
}

.titletext {
  font-size: 9rem;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
}

.hidden-scrollbar::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

#map {
  height: 80%;
  width: 43%;
}

.map-card {
  height: 80%;
  width: 43%;
}

.main-character {
  width: 25rem;
  height: 25rem;
}

.search-character {
  width: 14rem;
  height: 14rem;
}

.search-result-character {
  width: 13rem;
  height: 13rem;
}

.search-detail-character {
  width: 15rem;
  height: 15rem;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}

.slider::-webkit-slider-runnable-track {
  height: 10px;
  border-radius: 5px;
  background: #c5c5c5;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
  top: -7px;
}

.slider:focus {
  background: #ccc;
}
  
.nav-md {
  @apply top-20 h-full w-2/3 text-menuColor transition-all max-md:fixed max-md:rounded max-md:border-s-2 max-md:bg-stone-100;
}

.nav-item {
  @apply flex h-20 items-center justify-center hover:bg-highlightColor max-md:w-full max-md:shadow;
}

.modal-container {
  @apply fixed left-0 top-0 z-50 h-dvh w-dvw items-center justify-center font-kosugiMaru;
}

.modal-overlay {
  @apply fixed h-full w-full bg-slate-500 opacity-25;
}
