{% extends 'base.html' %} {% block body %}
<div
  class="background container flex h-[calc(100dvh-5rem)] min-w-full items-center justify-evenly"
>
  <div
    class="grid h-[90%] w-3/12 grid-rows-[0.5fr_1fr_1fr_1fr] rounded border-4 border-card-border bg-card px-5 py-10"
  >
    <h1 class="mb-10 mt-2 text-center font-kosugiMaru text-3xl font-bold">
      近くのStudyHub
    </h1>
    <a href="/search/detail"
      ><div
        class="space-y-4 rounded-lg border-4 border-card-border bg-white px-4 py-4"
      >
        <h3 class="text-center font-kosugiMaru text-lg font-bold">
          マクドナルド八王子店
        </h3>
        <div class="text-center">
          <p class="font-kosugiMaru text-lg font-bold">
            東京都八王子市八王子1-1-1
          </p>
          <p class="font-kosugiMaru text-lg font-bold">
            <span class="text-yellow-400">★★★★☆</span> 4.1
          </p>
          <p class="font-kosugiMaru text-xl font-bold">500m</p>
        </div>
      </div>
    </a>
    <a href="/search/detail"
      ><div
        class="space-y-4 rounded-lg border-4 border-card-border bg-white px-4 py-4"
      >
        <h3 class="text-center font-kosugiMaru text-lg font-bold">
          マクドナルド八王子店
        </h3>
        <div class="text-center">
          <p class="font-kosugiMaru text-lg font-bold">
            東京都八王子市八王子1-1-1
          </p>
          <p class="font-kosugiMaru text-lg font-bold">
            <span class="text-yellow-400">★★★★☆</span> 4.1
          </p>
          <p class="font-kosugiMaru text-xl font-bold">500m</p>
        </div>
      </div>
    </a>
    <a href="/search/detail"
      ><div
        class="space-y-4 rounded-lg border-4 border-card-border bg-white px-4 py-4"
      >
        <h3 class="text-center font-kosugiMaru text-lg font-bold">
          マクドナルド八王子店
        </h3>
        <div class="text-center">
          <p class="font-kosugiMaru text-lg font-bold">
            東京都八王子市八王子1-1-1
          </p>
          <p class="font-kosugiMaru text-lg font-bold">
            <span class="text-yellow-400">★★★★☆</span> 4.1
          </p>
          <p class="font-kosugiMaru text-xl font-bold">500m</p>
        </div>
      </div>
    </a>
  </div>

  <div
    class="grid h-[90%] w-3/12 grid-rows-[0.5fr_1fr_1fr_1fr] rounded border-4 border-card-border bg-card px-5 py-10"
  >
    <h1 class="mb-10 mt-2 text-center font-kosugiMaru text-3xl font-bold">
      急ぎのToDo
    </h1>
    {% for task in tasks %}
    <a href="{% url 'task_detail' task.id %}">
      <div
        class="space-y-8 rounded-lg border-4 border-card-border bg-white px-4 py-9 text-center hover:bg-stone-100"
      >
        <p class="font-kosugiMaru text-lg font-bold">{{ task.title }}</p>
        <p class="font-kosugiMaru text-lg font-bold">
          {{ task.deadline|date:"Y/m/d" }} まで
        </p>
      </div>
    </a>
    {% endfor %}
  </div>

  <div>
    <img
      class="main-character"
      src="/static/images/doubutu_carrybackwomotteryokousurutukinowakuma.png"
      alt=""
    />
  </div>
</div>
{% endblock body %}
