{% extends 'base.html' %} {% block body %}
<div class="background"></div>
    <div class="container content ml-20 flex justify-center gap-24 min-w-full min-h-screen items-center mt-8">
        <div class="rounded bg-card px-5 flex flex-col border-4 border-card-border w-3/12 py-10 space-y-2">
          <h1 class="font-kosugiMaru text-center font-bold text-3xl mb-10 mt-2">近くのStudyHub</h1>
          <div class="flex flex-col space-y-7">
            <a href="#"><div class="border-4 border-card-border rounded-lg py-4 px-4 bg-white space-y-4 text-center">
                <h3 class="font-kosugiMaru font-bold text-lg">マクドナルド八王子店</h3>
                <div>
                    <p class="font-kosugiMaru font-bold text-lg">東京都八王子市八王子1-1-1</p>
                    <p class="font-kosugiMaru font-bold text-lg"><span class="text-yellow-400">★★★★☆</span> 4.1</p>
                    <p class="font-kosugiMaru font-bold text-xl">500m</p>
                </div>
            </div></a>
            <a href="#"><div class="border-4 border-card-border rounded-lg py-4 px-4 bg-white space-y-4 text-center">
                <h3 class="font-kosugiMaru font-bold text-lg">マクドナルド八王子店</h3>
                <div>
                    <p class="font-kosugiMaru font-bold text-lg">東京都八王子市八王子1-1-1</p>
                    <p class="font-kosugiMaru font-bold text-lg"><span class="text-yellow-400">★★★★☆</span> 4.1</p>
                    <p class="font-kosugiMaru font-bold text-xl">500m</p>
                </div>
            </div></a>
            <a href="#"><div class="border-4 border-card-border rounded-lg py-4 px-4 bg-white space-y-4 text-center">
                <h3 class="font-kosugiMaru font-bold text-lg">マクドナルド八王子店</h3>
                <div>
                    <p class="font-kosugiMaru font-bold text-lg">東京都八王子市八王子1-1-1</p>
                    <p class="font-kosugiMaru font-bold text-lg"><span class="text-yellow-400">★★★★☆</span> 4.1</p>
                    <p class="font-kosugiMaru font-bold text-xl">500m</p>
                </div>
            </div></a>
          </div>
        </div>
        <div class="rounded bg-card px-5 flex flex-col border-4 border-card-border w-3/12 py-10 space-y-2">
          <h1 class="font-kosugiMaru text-center font-bold text-3xl mb-10 mt-2">急ぎのToDo</h1>
          <div class="flex flex-col space-y-7">
            <a href="#"><div class="border-4 border-card-border rounded-lg py-9 px-4 bg-white space-y-8 text-center">
                <p class="font-kosugiMaru font-bold text-lg">応用情報技術者試験　勉強</p>
                <p class="font-kosugiMaru font-bold text-lg">2025/4/20まで</p>
            </div>
            <a href="#"><div class="border-4 border-card-border rounded-lg py-9 px-4 bg-white space-y-8 text-center">
                <p class="font-kosugiMaru font-bold text-lg">ハッカソン制作</p>
                <p class="font-kosugiMaru font-bold text-lg">2025/3/1まで</p>
            </div></a>
            <a href="#"><div class="border-4 border-card-border rounded-lg py-9 px-4 bg-white space-y-8 text-center">
                <p class="font-kosugiMaru font-bold text-lg">線形代数　課題</p>
                <p class="font-kosugiMaru font-bold text-xl">2025/2/28まで</p>
            </div></a>
          </div>
        </div>
        <div>
            <img class="main-character" src="/static/images/doubutu_carrybackwomotteryokousurutukinowakuma.png" alt="">
        </div>
    </div>
{% endblock body %}
