{% extends 'base.html' %}{% load static %} {% block header %}
<!-- 詳細画面の HTML -->
<script src="{% static 'js/map-display-detail.js' %}" defer></script>
{% endblock header %} {% block body %}
<div
  class="container flex h-[calc(100dvh-5rem)] min-w-full flex-wrap items-center justify-evenly md:flex-nowrap"
>
  <div id="map" class="rounded-lg border-4 border-card-border"></div>
  <div class="map-card">
    <div
      class="flex flex-col space-y-10 rounded-lg border-4 border-card-border bg-card py-16 pl-20"
    >
      <div class="flex items-center space-x-36">
        <h1 class="font-kosugiMaru text-4xl font-bold">{{ details.name }}</h1>
        <p class="font-kosugiMaru text-3xl font-bold">{{ distance }}</p>
      </div>
      <div>
        <p class="font-kosugiMaru text-xl font-bold">{{ details.vicinity }}</p>
      </div>
      <div>
        <p class="font-kosugiMaru text-xl font-bold">
          <span class="text-yellow-400">★</span> {{ details.rating }}
        </p>
      </div>
      <div class="flex flex-wrap justify-start gap-3">
        {% for day in details.opening_hours.weekday_text %}
        <p class="font-kosugiMaru text-xl font-bold">{{ day }}</p>
        {% endfor %}
      </div>
      <p class="font-kosugiMaru text-xl font-bold">
        <a href="{{ details.website }}" class="text-blue-400 underline"
          >{{ details.website }}</a
        >
      </p>
    </div>
    <img
      class="search-detail-character"
      src="/static/images/doubutu_tukinowaguma_valley3.png"
      alt=""
    />
  </div>
</div>

{% endblock body %}
