<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Rampart+One&display=swap" rel="stylesheet">
    <title>StudyHub</title>
</head>
<body>
    <div class="background"></div>
    <div class="container content flex flex-nowrap md:flex-wrap justify-center gap-24 min-w-full min-h-screen items-center">
        <div class="signuptitle">
            <img class="signupcharacter ml-auto" src="/StudyHub/static/images/doubutu_aoihusenwomotukuma.png" alt="">
            <h1 class="font-rampartOne titletext">StudyHub</h1>
            <p class="font-kosugiMaru font-bold text-center mt-8 text-xl">- 今日頑張る場所を探そう -</p>
        </div>
        <div class="rounded bg-card px-5 flex flex-col border-2 border-card-border w-3/12 gap-6">
            <h2 class="font-rampartOne text-5xl text-center mt-5">Signup</h2>
            <div>
                <p class="font-kosugiMaru text-xs font-bold">ユーザー名</p>
                <input type="text" class="rounded-md border-2 border-card-border pl-1 h-14 w-full">
            </div>
            <div>
                <p class="font-kosugiMaru text-xs font-bold">メールアドレス</p>
                <input type="text" class="rounded-md border-2 border-card-border pl-1 h-14 w-full" placeholder="mail@example.com">
            </div>
            <div>
                <p class="font-kosugiMaru text-xs font-bold">パスワード</p>
                <input type="text" class="rounded-md border-2 border-card-border h-14 w-full">
            </div>
            <div>
                <p class="font-kosugiMaru text-xs font-bold">パスワード（確認）</p>
                <input type="text" class="rounded-md border-2 border-card-border h-14 pl-1 w-full" placeholder="確認用に再度入力してください">
                <p class="font-kosugiMaru text-end text-xs font-bold"><input type="checkbox">パスワードを表示する</p>
            </div>
            <a href=""><button class="bg-card-button text-white rounded-md underline font-kosugiMaru py-4 w-full font-bold">サインアップ</button></a>
            <a href="" class="font-kosugiMaru text-xs underline text-center mb-6 font-bold">サインアップ</a>
        </div>
    </div>
</body>
</html>