<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}{% load widget_tweaks %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Rampart+One&display=swap"
      rel="stylesheet"
    />
    <title>StudyHub</title>
  </head>
  <body>
    <div
      class="background content container flex min-h-screen min-w-full flex-nowrap items-center justify-center gap-24 md:flex-wrap"
    >
      <div class="signuptitle">
        <img
          class="signupcharacter ml-auto"
          src="{% static 'images/doubutu_aoihusenwomotukuma.png' %}"
          alt=""
        />
        <h1 class="titletext font-rampartOne">StudyHub</h1>
        <p class="mt-8 text-center font-kosugiMaru text-xl font-bold">
          - 今日頑張る場所を探そう -
        </p>
      </div>
      <div
        class="flex w-3/12 flex-col gap-6 rounded border-2 border-card-border bg-card px-5"
      >
        <h2 class="mt-5 text-center font-rampartOne text-5xl">Signup</h2>
        <!-- フォーム開始 -->
        <form class="flex flex-col gap-6 font-kosugiMaru" method="post">
          {% csrf_token %}

          <div class="mb-4">
            <p
              for="{{ form.name.id_for_label }}"
              class="font-kosugiMaru text-xs font-bold"
            >
              ユーザー名
            </p>
            <!-- prettier-ignore -->
            {{ form.name|add_class:"h-14 w-full rounded-md border-2 border-card-border pl-1" }}
          </div>

          <div class="mb-4">
            <p
              for="{{ form.email.id_for_label }}"
              class="font-kosugiMaru text-xs font-bold"
            >
              メールアドレス
            </p>
            <!-- prettier-ignore -->
            {{ form.email|add_class:"h-14 w-full rounded-md border-2 border-card-border pl-1"|attr:"placeholder:mail@example.com" }}
          </div>

          <div class="mb-4">
            <p
              for="{{ form.password1.id_for_label }}"
              class="font-kosugiMaru text-xs font-bold"
            >
              パスワード
            </p>
            <!-- prettier-ignore -->
            {{ form.password1|add_class:"h-14 w-full rounded-md border-2 border-card-border pl-1"|attr:"id:password1" }}
          </div>

          <div class="mb-4">
            <p
              for="{{ form.password2.id_for_label }}"
              class="font-kosugiMaru text-xs font-bold"
            >
              パスワード（確認）
            </p>
            <!-- prettier-ignore -->
            {{ form.password2|add_class:"h-14 w-full rounded-md border-2 border-card-border pl-1"|attr:"placeholder:確認用に再度入力してください"|attr:"id:password2" }}
            <p class="mt-2 text-end text-xs font-bold">
              <input type="checkbox" id="show-password" />パスワードを表示する
            </p>
          </div>

          <button
            type="submit"
            class="w-full rounded-md bg-card-button py-4 font-kosugiMaru font-bold text-white underline"
          >
            サインアップ
          </button>
        </form>
        <a
          href="{% url 'login' %}"
          class="mb-6 text-center font-kosugiMaru text-xs font-bold underline"
          >ログイン</a
        >
      </div>
    </div>
    <script>
      document
        .getElementById("show-password")
        .addEventListener("change", function () {
          document.getElementById("password1").type = this.checked
            ? "text"
            : "password";
          document.getElementById("password2").type = this.checked
            ? "text"
            : "password";
        });
    </script>
  </body>
</html>
