{% extends "base.html" %} {% block body %}
<div class="mx-auto h-[calc(100dvh-5rem)] w-[60%] pt-[2%] font-kosugiMaru">
  <h2 class="mb-[2%] text-center text-4xl font-bold">ToDo詳細</h2>
  <form action="">
    <div class="mb-[3%] flex items-center">
      <label for="title" class="min-w-24">タイトル：</label>
      <p class="w-full">{{ task.title }}</p>
    </div>
    <div class="mb-[3%] flex items-center">
      <label for="deadline" class="inline-block min-w-24">締切日：</label>
      <p class="w-full">{{ task.deadline|date:"Y/m/d" }}</p>
    </div>
    <div class="mb-[3%] flex items-center">
      <label for="" class="inline-block min-w-24">状態：</label>
      <p class="w-full">
        <!-- prettier-ignore -->
        {% if task.is_completed %}
          完了
        {% else %}
          未完了
        {% endif %}
      </p>
    </div>
    <div class="mb-[3%] flex items-start">
      <label for="" class="inline-block min-w-24">内容：</label>
      <p class="w-full">{{ task.description|linebreaksbr }}</p>
    </div>
    <a
      href="/todo/form"
      class="mr-10 rounded border-2 border-card-border bg-card-button-yellow px-[10%] py-[1%]"
    >
      編集
    </a>
    <a
      href="/todo"
      class="rounded border-2 border-card-border bg-card-button px-[10%] py-[1%]"
    >
      戻る
    </a>
  </form>
</div>

{% endblock body %}
