{% extends "base.html" %} {% load static %} {% block body %}
<div
  class="mx-auto flex h-[calc(100dvh-5rem)] w-[90%] flex-col pb-32 pt-[2%] font-kosugiMaru lg:w-[80%]"
>
  <h2 class="flex-grow-0 px-8 text-center text-4xl font-bold">ToDo</h2>
  <ul
    class="mx-2 my-2 grid flex-grow-0 grid-cols-[3fr_1fr_1fr_0.5fr_0.5fr] sm:order-2 lg:mx-6 lg:grid-cols-[7fr_1fr_1fr_1fr_0.5fr_0.5fr]"
  >
    <li class="flex items-center">タイトル</li>
    <li class="flex items-center justify-center">状態</li>
    <li class="hidden items-center justify-center lg:flex">
      締切日<span>▼</span>
    </li>
    <li class="flex items-center justify-center lg:hidden">
      締切<span>▼</span>
    </li>
    <li class="hidden items-center justify-center lg:flex">編集日</li>
  </ul>

  <ul
    id="todolist"
    class="hidden-scrollbar flex-grow overflow-y-auto sm:order-3"
  >
    {% if query and not tasks %}
    <li class="flex items-center justify-center">
      <p class="mx-2 my-2 h-full lg:mx-6">検索結果がありません</p>
    </li>
    {% elif not tasks %}
    <li class="mb-[3%] rounded-lg border-4 border-card-border bg-white">
      <p class="mx-2 my-2 h-full lg:mx-6">ToDoが登録されていません</p>
    </li>
    {% else %} {% for task in tasks %}
    <li
      class="mb-[3%] rounded-lg border-4 border-card-border bg-white hover:bg-stone-50"
      data-task-id="{{ task.id }}"
    >
      <div
        class="mx-2 my-2 grid h-full grid-cols-[3fr_1fr_1fr_0.5fr_0.5fr] lg:mx-6 lg:grid-cols-[7fr_1fr_1fr_1fr_0.5fr_0.5fr]"
      >
        <a
          href="{% url 'task_detail' task.id %}"
          class="flex items-center py-[3%]"
        >
          <p class="todo-name">{{ task.title }}</p>
        </a>
        <button
          onclick="showChangeModal(event)"
          class="my-[10%] flex justify-center"
          data-task-id="{{ task.id }}"
        >
          {% if task.is_completed %}
          <!-- prettier-ignore -->
          <p class="flex aspect-square items-center justify-center rounded-full border-2 border-card-border bg-highlightColor min-w-8">
        済
            </p>
          {% else %}
          <!-- prettier-ignore -->
          <p class="flex aspect-square items-center justify-center rounded-full border-2 border-card-border min-w-8 bg-white">
              未
            </p>
          {% endif %}
        </button>
        <p class="hidden items-center justify-center lg:flex">
          {{ task.deadline|date:"Y/m/d" }}
        </p>
        <p class="flex items-center justify-center lg:hidden">
          {{ task.deadline|date:"m/d" }}
        </p>
        <p class="hidden items-center justify-center xl:flex">
          {{ task.update_at|date:"Y/m/d" }}
        </p>
        <button
          onclick="showDeleteModal(event)"
          class="delite-button flex items-center justify-center"
          data-task-id="{{ task.id }}"
        >
          <ion-icon
            name="trash-outline"
            class="pointer-events-none text-2xl"
          ></ion-icon>
        </button>
        <!-- prettier-ignore -->
        <a href="{% url 'task_edit' task.id %}?next={{ request.get_full_path|urlencode }}" class="flex items-center justify-center">
          <ion-icon name="brush-outline" class="text-2xl"></ion-icon>
        </a>
      </div>
    </li>
    {% endfor %} {% endif %}
  </ul>
  <div
    class="flex flex-grow-0 items-center justify-center sm:order-1 lg:justify-end"
  >
    <form
      action="{% url 'task_search' %}"
      method="get"
      class="flex items-center justify-end gap-4 lg:w-1/2"
    >
      <div class="relative w-1/2">
        <input
          type="text"
          name="q"
          value="{{ query }}"
          class="w-full rounded-xl border-4 border-card-border placeholder-gray-300"
          placeholder="タイトル検索"
        />
        <button
          type="submit"
          class="absolute bottom-[0.3rem] right-2.5 top-[0.3rem] z-10"
        >
          <i class="fa-solid fa-magnifying-glass fa-lg text-gray-500"></i>
        </button>
      </div>
      <select
        name="status"
        onchange="this.form.submit()"
        class="flex w-1/4 justify-center rounded-xl border-4 border-card-border"
      >
        <option value="">すべて</option>
        <!-- prettier-ignore -->
        <option value="completed" {% if status == "completed" %}selected{% endif %}>完了</option>
        <!-- prettier-ignore -->
        <option value="incomplete" {% if status == "incomplete" %}selected{% endif %}>未完了</option>
      </select>
      <a
        href="{% url 'task_create' %}?next={{ request.get_full_path|urlencode }}"
        class="flex"
      >
        <ion-icon
          name="add-outline"
          class="rounded-xl bg-card-button p-1 text-4xl hover:bg-gray-400 hover:text-gray-100"
        ></ion-icon>
      </a>
    </form>
  </div>
</div>
{% endblock body %} {% block modal %}

<div
  id="todo-modal"
  class="fixed left-0 top-0 hidden h-dvh w-dvw items-center justify-center font-kosugiMaru"
>
  <div class="modal-overlay fixed h-full w-full bg-slate-500 opacity-25"></div>
  <!-- 完了/未完了変更モーダル -->
  <div
    id="statusedit-modal"
    class="z-50 hidden h-fit w-fit flex-col items-center justify-center rounded border-2 border-card-border bg-card"
  >
    <div class="flex flex-col items-center justify-center">
      <p class="mx-24 mt-12">以下のToDoのステータスを変更しますか？</p>
      <h2
        id="statusedit-todo-title"
        class="mx-10 mb-6 mt-2 text-2xl font-bold"
      ></h2>
    </div>
    <form
      class="flex w-full items-center justify-center"
      id="statusedit-form"
      method="post"
      action=""
    >
      {% csrf_token %}
      <div class="mb-12 flex w-full max-w-sm justify-center gap-8">
        <button type="submit" class="h-8 w-24 rounded bg-card-button-red">
          変更
        </button>
        <button
          type="button"
          onclick="hiddenModal(event)"
          class="h-8 w-24 rounded bg-stone-50"
        >
          キャンセル
        </button>
      </div>
    </form>
  </div>

  <!-- 削除モーダル -->
  <div
    id="delete-modal"
    class="z-50 hidden h-fit w-fit flex-col items-center justify-center rounded border-2 border-card-border bg-card"
  >
    <div class="flex flex-col items-center justify-center">
      <p class="mx-24 mt-12">以下のToDoを削除しますか？</p>
      <h2
        id="delete-todo-title"
        class="mx-10 mb-6 mt-2 text-2xl font-bold"
      ></h2>
    </div>
    <form
      class="flex w-full items-center justify-center"
      id="delete-form"
      method="post"
      action=""
    >
      {% csrf_token %}
      <div class="mb-12 flex w-full max-w-sm justify-center gap-8">
        <button type="submit" class="h-8 w-24 rounded bg-card-button-red">
          削除
        </button>
        <button
          type="button"
          onclick="hiddenModal(event)"
          class="h-8 w-24 rounded bg-stone-50"
        >
          キャンセル
        </button>
      </div>
    </form>
  </div>
</div>

<script src="{% static 'js/todo.js' %}"></script>

{% endblock modal %}
